.Other-players {
  grid-area: other-players-left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.Other-player-info {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;

  .Card-list .card-container {
    margin-left: -40px;
    position: relative;
    z-index: 1;

    &:first-child {
      margin-left: 0;
    }
  }
}